/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-d92e7-lu5luv0q version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q.master.item-box   {
		
						position: relative;
						
						background-color: rgba(255, 255, 255, 0.67);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q  .preview-content-holder  {
		
						margin-right: 0px;
						
						border-color: rgb(214, 214, 214);
						
						max-width: 1000px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
						
						padding-left: 0px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(53, 53, 53);
						
						padding-bottom: 3px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 3px;
						
						border-width: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						margin-left: 3px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-title  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-body h1  { font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-right: 20px;
						
						color: rgb(71, 71, 71);
						
						letter-spacing: 0.05em;
						
						padding-right: 0px;
						
						margin-left: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-item-links.allow-bg-color  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .submenu  { 
						background-color: rgb(230, 230, 230);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);	
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-element.icon-source  {
		
						padding-right: 0px;
						
						color: rgb(0, 0, 0);
						
						margin-right: 5px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						width: 80px;
						
						padding-left: 0px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: 0%;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-item-links span:before  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .effect-tester  { 
						background-color: rgba(36, 109, 190, 0.81);
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .middle_layout .helper-div  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-d92e7-lu5luv0q .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-31caddf5-sus6bf1u version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .title-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .Title  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .inner-pic  {
			
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .background-div  {
		
						background-size: contain;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-title  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						font-family: Montserrat;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .stripe-background  {
		
						opacity: 0.99;
						
		    			-webkit-filter:none;filter:none;
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .Subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-sus6bf1u .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-31caddf5-sus6bf1u #vbid-31caddf5-0nvjuouf.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-sus6bf1u #vbid-31caddf5-r50oxivy.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-sus6bf1u #vbid-31caddf5-zfcteehz.inner-pic{
				
							background-size : contain;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-d92e7-b9fmfmia version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .title-holder  {
		
						text-align: right;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Subtitle  ,  .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Title  ,  .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Body h1  { font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .raw-container  {
		
						padding-top: 0px;
						
						margin-left: 70px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .style-31caddf5-rowin2vs .style-d92e7-b9fmfmia .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-d92e7-b9fmfmia.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
				
						border-width: 1px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
				
						direction: ltr;
				
						line-height: 1.4em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6a3902e7-qn1zpewt version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-title  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-body h1  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						padding-right: 20px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 10px;
						
						margin-left: 5px;
						
						border-radius: 18px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(0, 0, 0, 0);
						
						font-weight: bold;
						
						padding-left: 20px;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .item-content:not(.blocks_layout)  {
		
						background-color: rgb(50, 158, 212);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						width: 15%;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-item-links span:before  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(255, 248, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .inner-pic  {
		
						opacity: 1;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .middle_layout .helper-div  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-6a3902e7-qn1zpewt .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-31caddf5-rowin2vs version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-31caddf5-rowin2vs .title-holder  {
		
						text-align: center;
							
		}
	 .master .style-31caddf5-rowin2vs .preview.image-cover  {
		
						min-height: 250px;
							
		}
	 .master .style-31caddf5-rowin2vs .Title  ,  .master .style-31caddf5-rowin2vs .Body h1  { font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-31caddf5-rowin2vs  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 400px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .master .style-31caddf5-rowin2vs .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);
							
		}
	 .master .style-31caddf5-rowin2vs .item-links span  {
		
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(66, 117, 83);
						
						margin-left: 50px;
							
		}
	 .master .style-31caddf5-rowin2vs .preview-title  ,  .master .style-31caddf5-rowin2vs .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 20px;
						
						margin-bottom: 5px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-31caddf5-rowin2vs .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-31caddf5-rowin2vs .preview-item-links span  ,  .master .style-31caddf5-rowin2vs #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(50, 50, 50);
						
						padding-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(159, 14, 14, 0);
							
		}
	 .master .style-31caddf5-rowin2vs .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-31caddf5-rowin2vs .item-links  {
		
						text-align: center;
							
		}
	 .master .style-31caddf5-rowin2vs .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .master .style-31caddf5-rowin2vs .body-holder  {
		
						text-align: left;
							
		}
	 .master .style-31caddf5-rowin2vs .Body  {
		font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						margin-bottom: 20px;
						
						line-height: 1.4em;
							
		}
	 .master .style-31caddf5-rowin2vs .Subtitle  ,  .master .style-31caddf5-rowin2vs .Body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						letter-spacing: 0.05em;
						
						margin-right: 50px;
						
						margin-top: 15px;
						
						margin-left: 50px;
						
						margin-bottom: 15px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-31caddf5-rowin2vs .page-image-cover  {
		
						margin-bottom: 30px;
							
		}
	 .master .style-31caddf5-rowin2vs .title-wrapper  {
		
						max-width: 1124px;
							
		}
	 .master .style-31caddf5-rowin2vs .subtitle-wrapper  {
		
						max-width: 1114px;
							
		}
	 .master .style-31caddf5-rowin2vs  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .master .style-31caddf5-rowin2vs .body-wrapper  {
		
						max-width: 700px;
							
		}
	 .master .style-31caddf5-rowin2vs .element.icon-source  {
		
						width: 40px;
							
		}
	 .master .style-31caddf5-rowin2vs .preview-item-links span:hover  ,  .master .style-31caddf5-rowin2vs .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(0, 0, 0);
							
		}
	 .master .style-31caddf5-rowin2vs .subtitle-holder  {
		
						text-align: center;
							
		}
	 .master .style-31caddf5-rowin2vs .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(34, 34, 34);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-31caddf5-rowin2vs.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .master .style-31caddf5-rowin2vs .preview-subtitle  ,  .master .style-31caddf5-rowin2vs .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(35, 35, 35);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: 'Roboto Slab Light';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-31caddf5-uwt17xbz version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .title-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .Title  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .inner-pic  {
		
						opacity: 0.8;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .background-div  {
		
						background-size: contain;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-title  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgba(53, 53, 53, 0.71);
						
						letter-spacing: 0.1em;
						
						margin-top: 5px;
						
						font-family: Montserrat;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .Subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-uwt17xbz .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-31caddf5-uwt17xbz #vbid-31caddf5-axsg58t9.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-ehaiejvi.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-xx6fwibl.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-egzdutbn.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-bka1w2vf.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-tgikenap.inner-pic{
				
							background-size : contain;
					
				} .style-31caddf5-uwt17xbz #vbid-31caddf5-1szohk88.inner-pic{
				
							background-size : contain;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-31caddf5-zpkkdaji version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .title-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .Title  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						border-color: rgb(60, 60, 60);
						
						padding-left: 0px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-divider  {
		
						margin-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .inner-pic  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .background-div  {
			
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji.master.item-box   {
		
						background-color: rgba(8, 88, 157, 0.86);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-title  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(85, 85, 85);
						
						letter-spacing: 0em;
						
						margin-top: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(99, 99, 99);
						
						padding-bottom: 10px;
						
						border-color: rgb(122, 122, 122);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-element.icon-source  {
		
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 90px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .Subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-price  {
		
						font-family: Arial;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .blocks-preview-title  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-body  {
		
						font-family: Montserrat;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-bottom: 0px;
						
						line-height: 1.4em;
							
		}
	
	 .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-zpkkdaji .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-31caddf5-cecynozo version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 650px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(113, 113, 113);
						
						width: 10%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .inner-pic  {
		
						opacity: 0.26;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .background-div  {
			
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-title  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(113, 113, 113);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.3em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-item-links span  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-element.icon-source  {
		
						width: 60px;
						
						margin-bottom: 15px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-item-links span:before  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-item-links span:hover  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .middle_layout .helper-div  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-subtitle  ,  .style-31caddf5-rowin2vs .style-31caddf5-cecynozo .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-31caddf5-cecynozo #vbid-31caddf5-tqtiqigp .preview-content-holder{
				
							text-align : left;
					
				}


 .style-31caddf5-cecynozo #vbid-31caddf5-4defi38b.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				} .style-31caddf5-cecynozo #vbid-31caddf5-ci9svop1.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-31caddf5-cecynozo #vbid-31caddf5-9khqq0lh.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				}











 .style-31caddf5-cecynozo #vbid-31caddf5-tqtiqigp .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
