/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-d92e7-lu5luv0q version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q.master.item-box   {
		
						position: relative;
						
						background-color: rgba(255, 255, 255, 0.67);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q  .preview-content-holder  {
		
						margin-right: 0px;
						
						border-color: rgb(214, 214, 214);
						
						max-width: 1000px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
						
						padding-left: 0px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(53, 53, 53);
						
						padding-bottom: 3px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 3px;
						
						border-width: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						margin-left: 3px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-title  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-body h1  { font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-right: 20px;
						
						color: rgb(71, 71, 71);
						
						letter-spacing: 0.05em;
						
						padding-right: 0px;
						
						margin-left: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-item-links.allow-bg-color  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .submenu  { 
						background-color: rgb(230, 230, 230);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);	
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-element.icon-source  {
		
						padding-right: 0px;
						
						color: rgb(0, 0, 0);
						
						margin-right: 5px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						width: 80px;
						
						padding-left: 0px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: 0%;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-item-links span:before  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .effect-tester  { 
						background-color: rgba(36, 109, 190, 0.81);
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .middle_layout .helper-div  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-d92e7-lu5luv0q .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-wkzv2sbn version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .title-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .Title  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						border-color: rgb(60, 60, 60);
						
						padding-left: 0px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-divider  {
		
						margin-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .inner-pic  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .background-div  {
			
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn.master.item-box   {
		
						background-color: rgba(8, 88, 157, 0.86);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-title  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(85, 85, 85);
						
						letter-spacing: 0em;
						
						margin-top: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(99, 99, 99);
						
						padding-bottom: 10px;
						
						border-color: rgb(122, 122, 122);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-element.icon-source  {
		
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 90px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .Subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-price  {
		
						font-family: Arial;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .blocks-preview-title  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-body  {
		
						font-family: Montserrat;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-bottom: 0px;
						
						line-height: 1.4em;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-wkzv2sbn .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-fxbsmub1 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .title-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .Title  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: right;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .inner-pic  {
		
						opacity: 1.0;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .background-div  {
			
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-title  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.35em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 15px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0.67);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 15px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .stripe-background  {
		
						opacity: 0.2;
						
						margin-top: -35px;
						
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 40px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 10px;
						
						padding-left: 0px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .Subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-item-links span:before  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .effect-tester  { 
						background-color: rgb(87, 87, 87);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1  .preview-content-wrapper  {
		
						text-align: right;
						
						vertical-align: bottom;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(87, 87, 87);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .middle_layout .helper-div  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-divider  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 10px;
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						width: 10%;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-title  {
		font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 20px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .pic-side:after  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .item-effect-tester  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .sub.item-box:after  { 
						background-color: rgb(50, 158, 212);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-fxbsmub1 .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-74535bc8-fxbsmub1 #vbid-74535bc8-tahmvj7q.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				} .style-74535bc8-fxbsmub1 #vbid-74535bc8-xrhrwmun.inner-pic{
				
							background-position : 10.1266% 47.6945%;
					
				} .style-74535bc8-fxbsmub1 #vbid-74535bc8-c2ghqvga.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-74535bc8-fxbsmub1 #vbid-74535bc8-uqg0etum.inner-pic{
				
							background-position : 8.99054% 44.2529%;
					
				} .style-74535bc8-fxbsmub1 #vbid-74535bc8-u3pzjgjn.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-d92e7-b9fmfmia version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .title-holder  {
		
						text-align: right;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Subtitle  ,  .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Title  ,  .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Body h1  { font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .raw-container  {
		
						padding-top: 0px;
						
						margin-left: 70px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .style-74535bc8-taydgjsu .style-d92e7-b9fmfmia .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-d92e7-b9fmfmia.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
				
						border-width: 1px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
				
						direction: ltr;
				
						line-height: 1.4em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-yo8stnfl version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .inner-pic  {
		
						opacity: 0.21;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .background-div  {
			
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-title  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-item-links span:before  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .middle_layout .helper-div  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-yo8stnfl .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-74535bc8-yo8stnfl #vbid-74535bc8-1ja7rsq1 .preview-content-holder{
				
							text-align : left;
					
				}


 .style-74535bc8-yo8stnfl #vbid-74535bc8-eiwmkqme.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				} .style-74535bc8-yo8stnfl #vbid-74535bc8-c9scxeqa.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-74535bc8-yo8stnfl #vbid-74535bc8-0nhj7xup.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				}











 .style-74535bc8-yo8stnfl #vbid-74535bc8-1ja7rsq1 .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-jfqpa1ox version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .title-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .Title  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .inner-pic  {
			
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .background-div  {
		
						background-size: contain;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-title  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						line-height: 1.2em;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .stripe-background  {
		
						opacity: 0.99;
						
		    			-webkit-filter:none;filter:none;
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .Subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-jfqpa1ox .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-74535bc8-jfqpa1ox #vbid-74535bc8-pgg17m00.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-jfqpa1ox #vbid-74535bc8-9obxacgv.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-jfqpa1ox #vbid-74535bc8-fyxtwhlm.inner-pic{
				
							background-size : contain;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-taydgjsu version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-74535bc8-taydgjsu .title-holder  {
		
						text-align: center;
							
		}
	 .master .style-74535bc8-taydgjsu .preview.image-cover  {
		
						min-height: 250px;
							
		}
	 .master .style-74535bc8-taydgjsu .Title  ,  .master .style-74535bc8-taydgjsu .Body h1  { font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-74535bc8-taydgjsu  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 400px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .master .style-74535bc8-taydgjsu .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);
							
		}
	 .master .style-74535bc8-taydgjsu .item-links span  {
		
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(66, 117, 83);
						
						margin-left: 50px;
							
		}
	 .master .style-74535bc8-taydgjsu .preview-title  ,  .master .style-74535bc8-taydgjsu .preview-body h1  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 20px;
						
						margin-bottom: 5px;
						
						line-height: 1.1em;
							
		}
	 .master .style-74535bc8-taydgjsu .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-74535bc8-taydgjsu .preview-item-links span  ,  .master .style-74535bc8-taydgjsu #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(50, 50, 50);
						
						padding-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgba(159, 14, 14, 0);
							
		}
	 .master .style-74535bc8-taydgjsu .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-74535bc8-taydgjsu .item-links  {
		
						text-align: center;
							
		}
	 .master .style-74535bc8-taydgjsu .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .master .style-74535bc8-taydgjsu .body-holder  {
		
						text-align: left;
							
		}
	 .master .style-74535bc8-taydgjsu .Body  {
		font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						margin-bottom: 20px;
						
						line-height: 1.4em;
							
		}
	 .master .style-74535bc8-taydgjsu .Subtitle  ,  .master .style-74535bc8-taydgjsu .Body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						letter-spacing: 0.05em;
						
						margin-right: 50px;
						
						margin-top: 15px;
						
						margin-left: 50px;
						
						margin-bottom: 15px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-74535bc8-taydgjsu .page-image-cover  {
		
						margin-bottom: 30px;
							
		}
	 .master .style-74535bc8-taydgjsu .title-wrapper  {
		
						max-width: 1124px;
							
		}
	 .master .style-74535bc8-taydgjsu .subtitle-wrapper  {
		
						max-width: 1114px;
							
		}
	 .master .style-74535bc8-taydgjsu  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .master .style-74535bc8-taydgjsu .body-wrapper  {
		
						max-width: 700px;
							
		}
	 .master .style-74535bc8-taydgjsu .element.icon-source  {
		
						width: 40px;
							
		}
	 .master .style-74535bc8-taydgjsu .preview-item-links span:hover  ,  .master .style-74535bc8-taydgjsu .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(0, 0, 0);
							
		}
	 .master .style-74535bc8-taydgjsu .subtitle-holder  {
		
						text-align: center;
							
		}
	 .master .style-74535bc8-taydgjsu .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(34, 34, 34);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-74535bc8-taydgjsu.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .master .style-74535bc8-taydgjsu .preview-subtitle  ,  .master .style-74535bc8-taydgjsu .preview-body h2  { 
						font-family: 'Roboto Slab Light';
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(35, 35, 35);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-74535bc8-3mgn49mr version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .title-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .Title  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .inner-pic  {
		
						opacity: 0.8;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .background-div  {
		
						background-size: contain;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-title  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgba(53, 53, 53, 0.71);
						
						letter-spacing: 0.1em;
						
						margin-top: 5px;
						
						line-height: 1.2em;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-item-links span  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: -6%;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .Subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: top;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-item-links span:hover  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-subtitle  ,  .style-74535bc8-taydgjsu .style-74535bc8-3mgn49mr .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-74535bc8-3mgn49mr #vbid-74535bc8-izn5xzq5.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-2uzk9w8x.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-1e9m38ke.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-khzpwiqp.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-806czdcf.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-anjyxkov.inner-pic{
				
							background-size : contain;
					
				} .style-74535bc8-3mgn49mr #vbid-74535bc8-cbx1wgtr.inner-pic{
				
							background-size : contain;
					
				}






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
